<!-- Container (The Band Section) -->
<div id="band" class="bg-1">
  <div class="container text-center">
    <h3>IL GRUPPO</h3>
    <p><em>We love music!</em></p>
    <p>Mach 5 &egrave; un progetto che propone un repertorio rivisitato in chiave acustica. I pezzi sono completamenti arrangiati
      dai componenti del gruppo. <br/> Le formazioni adottate vengono preventivamente valutate e concordate. </p>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <p class="text-center"><strong>Elisa Giacomoni</strong></p><br>
        <a href="gruppo#demo1">
            <img src="./assets/img/elisa.jpg" class="img-circle person gruppo" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo1">
          <p>Voce</p>
          <p style="text-align:justify !important; margin-top: 30px;">Nasce il 26 Aprile 1996, si avvicina al canto all’età di dodici anni entrando a fare parte del coro della scuola
            media, diretto dal Maestro Valeria Temporini e successivamente nel coro del Liceo Marconi diretto dal Maestro
            Leonardo Morini. Scopre così le caratteristiche della propria voce e sperimenta la polifonia in vari generi musicali.
            Nel 2012, presso l’associazione musicale “il Podio”, inizia a prendere lezioni di canto moderno con l’insegnate
            Michela Ollari, dove ha la possibilità di approfondire le tecniche canore. Frequenta inoltre il corso di musica
            d’insieme coordinato dal Maestro Pietro Fanti, che le permette di mettere in pratica quanto imparato con le lezioni
            individuali e di fare l’esperienza della coesione di una band e dell’arrangiamento dei brani. Sempre nello stesso
            anno, si esibisce con il gruppo rock “Sly Demons” e inizia a suonare la chitarra come autodidatta. Nel 2014 inizia
            a studiare presso l’associazione musicale “Arti e Suoni” con l’insegnante Rossella Volta. Oltre a continuare
            lo studio della tecnica, sperimenta la sonorità e i punti forti della propria voce.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-center"><strong>Marco Cella</strong></p><br>
        <a href="gruppo#demo2">
            <img src="./assets/img/marco2.jpg" class="img-circle person gruppo" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2">
          <p>Chitarra</p>
          <p style="text-align:justify !important; margin-top: 30px;">Nasce il 21 Gennaio del 1994, studia dal 2008 presso la scuola di musica di Arti&amp;Suoni con il Maestro Jacopo
            Canali, dove approfondisce principalmente tecniche di chitarra elettrica e acustica. Predilige principalmente
            Pop, Rock e Blues, pur cimentandosi anche in altri generi musicali. Successivamente è stato allievo del Maestro
            Cico Falzone, storico chitarrista dei Nomadi, e ha partecipato a varie masterclass del Maestro Luca Colombo.
            Ha suonato per due anni come chitarrista e arrangiatore nel duo GiaMa’s Dream, e successivamente in Claudia e
            Marco Acoustic Duo; ha avuto esperienza di prima chitarra in orchestra con Silvano e Luciana e successivamente
            con Silvano e Mauro band, dove ha sperimentato musiche da ballo e ascolto e con cui continua tuttora a collaborare.</p>
        </div>
      </div>
    </div>
  </div>
</div>
