<div class="bg-1">
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="gallery-title">Foto</h3>
      </div>

      <div align="center">
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="all">Tutti</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="hdpe">Album 1</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="sprinkle">Album 2</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="spray">Album 3</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="irrigation">Album 4</button>
      </div>

      <br/>

      <a id="foto" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" data-toggle="lightbox" data-gallery="album1"
        href="./assets/img/marco_eli.jpg">
                    <img src="./assets/img/marco_eli.jpg" class="img-responsive img-fluid thumbnail">
                </a>

      <a id="foto" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle" data-toggle="lightbox" data-gallery="album2"
        href="./assets/img/palco.jpg">
                    <img src="./assets/img/palco.jpg" class="img-responsive img-fluid thumbnail">
                </a>

      <!--
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive thumbnail">
                </div>
-->
    </div>
  </div>
</div>
