<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="./assets/img/logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" #myNavbar>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li routerLinkActive="active"><a routerLink="/home">HOME</a></li> -->
        <li routerLinkActive="active" (click)="toggleisExpand()"><a routerLink="/gruppo">GRUPPO</a></li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            GALLERIA <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active" (click)="toggleisExpand()"><a routerLink="/foto">FOTO</a></li>
            <li routerLinkActive="active" (click)="toggleisExpand()"><a routerLink="/video">VIDEO</a></li>
          </ul>
        </li>
        <li routerLinkActive="active" (click)="toggleisExpand()"><a routerLink="/concerti">CONCERTI</a></li>
        <li routerLinkActive="active" (click)="toggleisExpand()"><a routerLink="/contattaci">CONTATTACI</a></li>
      </ul>
    </div>
  </div>
  <div class="hr"> </div>
</nav>

<router-outlet></router-outlet>

<div class="hr"> </div>
<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
      <a href="https://www.facebook.com/Mach5Acoustic/" target="_blank" class="linkSocial">
        <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCUE13_Ohi25HS_KWwyKPOKw" target="_blank" class="linkSocial">
        <i id="social-yt" class="fa fa-youtube-square fa-3x social"></i>
      </a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10" style="font-size:14px !important;">
      Creato da: <a href="https://www.linkedin.com/in/lamine92/" target="_blank"> Lamine Ndiaye </a> &nbsp;|&nbsp;
      <span class="glyphicon glyphicon-copyright-mark"></span> 2017
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </div>
  </div>
</footer>