<div class="bg-1">
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="gallery-title">Video</h3>
      </div>

      <div align="center">
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="all">Tutti</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="hdpe">Clan Swan</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="sprinkle">Notte Rosa</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="spray">Shakespeare</button>
        <button class="btn btn-default filter-button" onclick="cambiaAlbum(this);" data-filter="irrigation">Redlion Pub Bertorella</button>
      </div>

      <br/>

      <a href="https://www.youtube.com/watch?v=8RDP0mC-qok" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 filter spray">
                    <img src="assets/img/elisa.jpg" class="img-responsive img-fluid">
                </a>
      <a href="https://www.youtube.com/watch?v=g_n8-82sOTU" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 filter sprinkle">
                    <img src="assets/img/palco2.jpg" class="img-fluid img-responsive">
                </a>
      <a href="https://www.youtube.com/watch?v=t9DvO6ektR0" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 filter irrigation">
                    <img src="assets/img/marco2.jpg" class="img-fluid img-responsive">
                </a>

    </div>
  </div>
</div>
